<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Bootstrap Example</title>
        
        <!-- Bootstrap CSS 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">

    </head>
    <body>
        <div class="container-appointment">
            <a href="appointment.html">
                <button class="">
                    <img class="add-more-icon" src="{{ url_for('static', filename='images/add-circle.svg') }}">
                </button>
            </a>
            
        </div>
        
        <div class="container-1">
            <a href="machines/TB1">
                <button type="button" class="btn">TB1</button>
            </a>
            <a href="machines/TB2">
                <button type="button" class="btn">TB2</button>
            </a>
            <a href="machines/VB1">
                <button type="button" class="btn">VB1</button>
            </a>
            
        </div>
        <div class="container-2">
            <a href="machines/VB2">
                <button type="button" class="btn">VB2</button>
            </a>
            <a href="machines/U1">
                <button type="button" class="btn">U1</button>
            </a>
        </div>

        <!-- Bootstrap JS and Popper.js (optional)
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script> -->
    </body>
</html>