@import url(base.css);
body{
    background-color: var(--light_gray);
    font-family: var(--font_style);
}
.container-1 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.btn{
    font-size: 20px;
    
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;

    color: #fdfdfd;
    background-color: var(--dark_blue);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.15s;

    margin-right: 10px;
}
.btn:hover {
    opacity: 0.8 0.3s; /* Adjust the opacity as needed */
}

.container-appointment {
    text-align: left;
    margin-left: 80%; /* Adjust the margin as needed */
    margin-top: 5%;
    margin-bottom: 3%;
    width: 50px;
}

.add-more-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.add-more-icon {
    width: 50px; /* Adjust the icon size as needed */
    height: 50px;
}


.add-more-text {
    position: absolute;
    top: 50%;
    left: 60px; /* Adjust the left position as needed */
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;

    font-family: var(--dark_blue);
    white-space: nowrap;
    color: rgb(65, 65, 65);

    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(212, 212, 212);
    border-style: solid;
    border-width: 0.2px;
}

.add-more-button:hover .add-more-text {
    opacity: 1;
}