@import url(base.css);

h2{
    text-align: center;
    color: rgb(110, 109, 109);
}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    overflow: auto;
    width: 100%;

}

.time-label {
    margin-right: 5px;
    margin-top: 12.5px;
}

.hour-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    background-color: #f2f2f2;
    margin-bottom: -0.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 0.5px;
    border-radius: 2px;
    width: 100%;
    overflow:auto;

    color: rgb(51, 51, 51);
    

}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1px;
    flex: 1 1 0;
}

.bar-interval{
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    
}
.bar[data-status="idle"] .bar-interval{
    background-color: #81d195; /* Green for idle */
    /*height: 18px;
    width: 30px;*/
    
    
}

.bar[data-status="patient"] .bar-interval{
    background-color: #71abdb; /* Blue for patient */
    
     
    
}

.bar[data-status="maintenance"] .bar-interval{
    background-color: #f57466; /* Red for maintenance */
}
.bar-time{
    display: flex;
    flex-direction: row;
}

/*    
<div class="timeline" id="timeline">
        {% for hour_data in timeline_data %}
            <div class="hour-container">
                <div class="time-label">{{ hour_data['label'] }}</div>
                {% for bar_data in hour_data['bars'] %}
                    <div class="bar" data-status="{{ bar_data['status'] }}">
                        <div class="bar-interval">{{ bar_data['label'] }}</div>
                        <div class="bar-time">{{ bar_data['start'] }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>*/